
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   


}
.primary-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747s;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
/*header related*/
.header{
    background-color: #FFF8F3;
    box-shadow: 5px 5px 10px gray;
}
.banner{
    margin: 30px 30px 30px 150px;
    padding: 10px;
    display: flex;
    align-items: center;
}
